# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
app/etc/local.xml
/errors/local.xml
/media/css/
/media/dhl
/media/downloadable
/media/import/
/media/js/
/media/catalog/
/media/customer
/media/upload/
/media/wysiwyg/
/media/captcha/
/media/tmp/
/media/xmlconnect
/var/import/
/var/export/
/var/cache/
/var/log/
/var/session/
/var/locks/
/var/package
/var/report/
/var/resource_config.json
sitemap.xml
# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
